**Email Spam Detection Using Machine Learning**

Import libraries


1.   Numpy for Mathematical Analysis
2.   Pandas for Data Exploration

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix

Import the dataset

In [ ]:
data=pd.read_csv("/content/archive.zip",sep=',',encoding='latin-1')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

Drop the unwanted columns and Rename the columns

In [ ]:
data=data.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1)
data=data.rename(columns={"v1":"label","v2":"text"})
data.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

Convert labels into Binary Variables

In [ ]:
data['y']=data['label'].map({'ham': 0, 'spam': 1})
data.head()

  label                                               text  y
0   ham  Go until jurong point, crazy.. Available only ...  0
1   ham                      Ok lar... Joking wif u oni...  0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...  1
3   ham  U dun say so early hor... U c already then say...  0
4   ham  Nah I don't think he goes to usf, he lives aro...  0

Shape of the Data

In [ ]:
data.shape

(5572, 3)

In [ ]:
data.label.value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [ ]:
y=data['y']
x=data['text']

Splitting the dataset into Training and Testing Data

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(4457,)
(1115,)
(4457,)
(1115,)

Frequency Distribution count vectorizer method convert all tokenized words to lowercase letters

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector=CountVectorizer()

In [ ]:
training_data=count_vector.fit_transform(x_train).toarray()
testing_data=count_vector.transform(x_test).toarray()

Fitting the model

In [ ]:
lr=LogisticRegression()
lr.fit(training_data,y_train)

LogisticRegression()

In a Jupyter environment, please rerun this cell to show the HTML representation or trust the notebook.
On GitHub, the HTML representation is unable to render, please try loading this page with nbviewer.org.

In [ ]:
y_pred=lr.predict(testing_data)

In [ ]:
y_pred

array([1, 0, 0, ..., 0, 1, 0])

Accuracy Score

In [ ]:
print(accuracy_score(y_test,y_pred))

0.97847533632287

Classification Report

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       959
           1       0.99      0.86      0.92       156

    accuracy                           0.98      1115
   macro avg       0.98      0.93      0.95      1115
weighted avg       0.98      0.98      0.98      1115

Confusion Matrix

In [ ]:
print(confusion_matrix(y_test,y_pred))

[[957   2]
 [ 22 134]]